<footer class="footer is-dark">
    <div class="content has-text-centered is-small">
      <p>
        <strong>Just Do.It</strong> by <a href="https://github.com/pdccheung">Philip Cheung</a>. 
        <div>The website was duct taped together via the Bulma CSS front end framework</div> 
        <div>The exercise contents were provided by the wger API</div> 
      </p>
    </div>
  </footer>
</body>
</html>
