<%- include('../partials/header') %>

    <section class="hero is-dark is-medium">
      <div class="hero-body is-centered is-vcentered">

          <img class="title is-size-5 is-centered is-vcentered" src="https://philipintech-demo-bucket.s3.ca-central-1.amazonaws.com/jdi-logo.png" alt="just-do-it">

        <p class="subtitle is-centered">
          Just workout
        </p>
      </div>
    </section>


    <!-- class="block on each sibling div for a consistent margin between them"-->

    
<%- include('../partials/footer') %>
