<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div>click <a href="/exercises">here</a> to access the website</div>
  </body>
  <footer>
    This project was duct taped togethered by Philip Cheung, with source material from wger API. 
  </footer>
</html>
